.hero_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hero_img {
    width: 100%;
    height: 89.7vh;
    background-color: aquamarine;
    position: relative; 
}

.hero_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_img h2,
.hero_img p,
.hero_img button {
    position: absolute; 
}

.hero_img h2 {
    top: 20%; 
    left: 5%; 
    color: white; 
    font-size: 70px;
    font-family: "DM Serif Text", serif;
}

.hero_img p {
    top: 40%; 
    left: 5%; 
    color: black;
    font-size: 45px; 
}

.hero_img button {
    top: 55%; 
    left: 5%; 
    padding: 10px 20px; 
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    transition: 0.5s ease;
}

.hero_img button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(10, 0, 0, 1);
}

.hero_workshop {
    width: 100%;
    height: 80vh;
    background-color: green;
    position: relative;
}   

.hero_workshop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workshop_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;  
    height: 60%;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.workshop_content h2{
    font-size: 45px;
    font-family: "DM Serif Text", serif;
}

.workshop_content p{
    margin-top: 30px;
    padding: 50px;
    font-size: 20px;
}

.workshop_content button{
    font-size: 27px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.workshop_content button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.hero_footer{
    width: 100%;
    height: 45vh;
    display: flex;
    background-color: rgb(255, 238, 206);
}

.footer_mail{
    width: 50%;
    height: 100%;
}

.footer_mail .mail_text{
    width: 50%;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
}

.mail_text img {
    width: 18%;
    height: 50%;
    margin-left: 10px;
}

.mail_text p{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.mail_text button{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.mail_text button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.footer_links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.footer_links ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .footer_links a {
    text-decoration: none;
    color: inherit;
  }
  
  .footer_links a:hover {
    text-decoration: underline;
  }

  .footer_links li{
    margin-top: 10px;
  }
  

.footer_connect, .footer_find, .footer_help, .footer_legal{
    width: 25%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .hero_container {
        justify-content: center;
        align-items: center;
    }
    .hero_img h2,
    .hero_img p,
    .hero_img button {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .hero_img h2 {
        font-size: 55px;
        margin-top: -70px;
    }

    .hero_img p {
        top: 50%;
        width: 90%;
    }

    .hero_img button {
        top: 80%;
    }

    .hero_workshop{
        height: 120vh;
    }

    .workshop_content{
        width: 80%;
    }

    .hero_footer{
        flex-direction: column;
    }

    .footer_mail, .footer_links{
        width: 100%;
    }

    .footer_mail .mail_text{
        width: 80%;
    }    

    .footer_connect,
    .footer_find,
    .footer_help,
    .footer_legal {
        width: 100%; 
        height: 27vh;
    }
    
    .footer_links {
        display: block;  
    }
    
}