.shop_container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.shop_container h3{
    margin-top: 10px;
    font-size: 50px;
    font-family: "DM Serif Text", serif;
}

.shop_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.product {
    width: calc(25% - 2px);
    /* background-color: #f9eda0; */
    border: 1px solid black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
    transition: background-color 0.3s ease;
    border-radius: 0px;
}

.product:hover {
    background-color: #ffe066;
}

.product img {
    width: 90%;
    height: 70%;
    object-fit: cover;
}

.product_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    
    padding-bottom: 5px;
}

.product_details h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.product_details p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.product_buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.product_buttons .btn {
    width: 45%;
    padding: 8px 12px;
    font-size: 0.9rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product_buttons .btn:hover {
    background-color: #555;
}

@media only screen and (max-width: 800px) {
    .shop_container {
        height: auto;
    }

    .product {
        width: 100%;
    }
}
